:root {
  --clr-bg: rgb(248, 249, 250);
  --clr-text: rgb(33, 37, 41);
  --clr-back-txt: rgb(202, 240, 248);
  --clr-back-txt-shadow: rgb(202, 240, 248, 0.5);
}
:root.dark {
  --clr-bg: #333533;
  --clr-text: rgb(248, 249, 250);
  --clr-back-txt: #434443;
  --clr-back-txt-shadow: rgb(67, 68, 67, 0.5);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--clr-bg);
}
/***  intro animation */
.intro{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--clr-text);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-intro{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateY(100%);
}
.intro-text{
    font-size: 1.125rem;
    font-family:"Bona Nova", serif;
    text-transform: capitalize;
}
.hide{
    background: var(--clr-text);
    overflow: hidden;
}
.hide .text-hide{
    background: var(--clr-text);
    color: var(--clr-bg);
}
.hide > span{
    transform: translateY(100%);
    display: inline-block;

}
/***  intro animation */
.separator-left {
  width: 2px;
  height: 80%;
  position: fixed;
  top: 15%;
  bottom: 5%;
  left: 210px;
  z-index: 10;
  border-right: 3px solid var(--clr-text);
  box-shadow: 0 0 0.2em var(--clr-text);
  transition: all 0.5s ease;
}
.separator-left.active {
  left: 110px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  z-index: 10;
  background-color: var(--clr-bg);
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 90px;
}
.sidebar .logo {
  width: 100%;
  background: var(--clr-bg);
  line-height: 3;
  text-align: center;
  transition: all 0.5s ease;
}
.sidebar.active .logo {
  opacity: 0;
}
.sidebar .logo h2 {
  width: 100%;
  font-size: 2em;
  font-family: "Arizonia", cursive;
  color: var(--clr-text);
  text-align: start;
  padding-left: 1rem;
}
.sidebar .hamburgor {
  position: absolute;
  top: 30px;
  right: 8px;
}
.sidebar.active .hamburgor {
  right: 10%;
  transform: translateX(-30%);
  text-align: center;
}
.sidebar .hamburgor i {
  font-size: 25px;
  color: var(--clr-text);
}
.sidebar .theme-mode {
  position: absolute;
  top: 31px;
  right: 40px;
}
.sidebar.active .theme-mode {
  left: 25%;
  transform: translateX(-30%);
  text-align: center;
}
.sidebar .theme-mode i {
  font-size: 23px;
  color: var(--clr-text);
}
.sidebar .nav-links {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 70%;
  background: var(--clr-bg);
}
.sidebar .nav-links ul li {
  position: relative;
  text-decoration: none;
  list-style: none;
  width: 95%;
  height: 10vh;
  font-size: 18px;
  padding-left: 1em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  font-family: "Bona Nova", serif;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 3;
  border-right: 2px solid var(--clr-text);
  border-right: 2px solid var(--clr-text);
  border-bottom: 2px solid var(--clr-text);
  border-radius: 10px;
  color: var(--clr-text);
  transition: 0;
}
.sidebar .nav-links ul li .tooltip {
  position: absolute;
  left: 80%;
  top: 0;
  transform: translateY(-50%);
  z-index: 11;
  width: 150px;
  height: 35px;
  line-height: 35px;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  color: #757575;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: none;
}
.sidebar.active .nav-links ul li .tooltip {
  display: block;
  transform: translate(40%, -20%);
}
.sidebar .nav-links ul li:hover .tooltip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}
.sidebar .nav-links ul li a {
  background: transparent;
  text-decoration: none;
  display: block;
}
.sidebar .nav-links ul li .text {
  background: transparent;
  opacity: 1;
}
.sidebar.active .nav-links ul li .text {
  opacity: 0;
}
.sidebar .nav-links ul li i {
  margin: 0 15px;
  background: transparent;
}
.link-item > a:visited {
  color: inherit;
}
.link-item > a:link {
  color: inherit;
}
.sidebar .nav-links ul .link-item:hover {
  cursor: pointer;
  background: var(--clr-text);
  color: var(--clr-bg);
  transition: all 0.2s ease-in-out;
}
.active-link {
    color: var(--clr-bg) !important;
    background: var(--clr-text);
  }
.sidebar .profil {
  position: absolute;
  bottom: 10px;
  left: 0;
  height: 15vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
}
.sidebar.active .profil {
  flex-direction: column;
  align-items: center;
}
.sidebar .profil img {
  width: 60px;
  height: 70px;
  background: white;
  border-radius: 10px;
}
.sidebar .profil .profil-text {
  text-transform: capitalize;
  line-height: 2;
  font-family: "Bona Nova", serif;
  color: var(--clr-text);
}
.sidebar.active .profil .profil-text {
  line-height: 18px;
  text-align: center;
}
.sidebar.active .profil .profil-text p {
  opacity: 0;
}

@media screen and (max-width: 960px) {
  .separator-left {
    display: none;
  }
  .sidebar {
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    height: 80px;
    width: 100%;
    z-index: 10;
    background-color: var(--clr-bg);
    transition: all 0.5s ease;
  }
  .sidebar .logo {
    display: none;
  }
  .sidebar .hamburgor {
    display: none;
  }

  .sidebar .nav-links {
    position: absolute;
    bottom: 0;
    width: 65%;
    height: 100%;
    background: var(--clr-bg);
  }
  .sidebar .nav-links ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }
  .sidebar .nav-links ul li {
    width: 100%;
    height: 80%;
    font-size: 18px;
    padding-left: 0;
    padding-top: 8px;
    margin-bottom: 0;
    margin-left: 0;
    font-family: "Bona Nova", serif;
    text-transform: capitalize;
    font-weight: bold;
    line-height: -1;
    border: none;
    border-right: 2px solid var(--clr-text);
    border-left: 2px solid var(--clr-text);
    border-top: 2px solid var(--clr-text);
    border-radius: 10px;
    color: var(--clr-text);
    transition: 0;
  }
  .sidebar .nav-links ul li a i {
    display: block;
    text-align: center;
  }
  .sidebar .nav-links ul li a .text {
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .sidebar .profil {
    border: none;
    margin-left: 10px;
    position: absolute;
    top: 100%;
    left: 68%;
    transform: translateY(-105%);
    height: 90%;
    width: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
  }
  .sidebar .profil img {
    width: 70px;
    height: auto;
    background: white;
    border-radius: 10px;
  }
  .sidebar .profil .profil-text {
    margin-left: 10px;
    text-transform: capitalize;
    line-height: 1;
    font-family: "Bona Nova", serif;
    color: var(--clr-text);
  }
  .sidebar .theme-mode {
    position: absolute;
    top: 100%;
    left: 90%;
    transform: translateY(-105%);
    height: 90%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0;
  }
}
/* content starts here*/
.content-body {
  position: relative;
  width: 84%;
  height: 100vh;
  float: right;
  transition: all .5s ease;
  padding : 0 10%;
}
.content-body.active{
  width: 91.5%;
}
.content-body .first-page,
.content-body .second-page,
.content-body .third-page,
.content-body .forth-page,
.content-body .fifth-page {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.5s ease;
}

/* back text of pages */
.first-page .back-text,
.second-page .back-text,
.third-page .back-text,
.forth-page .back-text,
.fifth-page .back-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  background: transparent;
}
.first-page .back-text h1,
.second-page .back-text h1,
.third-page .back-text h1,
.forth-page .back-text h1,
.fifth-page .back-text h1 {
  text-align: center;
  font-size: 12em;
  color: var(--clr-back-txt);
  font-family: "Arizonia", cursive;
  text-transform: capitalize;
  text-shadow: 10px 5px var(--clr-back-txt-shadow);
  transition: all 0.5s ease;
}
@media screen and (max-width: 960px) {
  .content-body {
    width: 100%;
    padding: 0 10%;
  }
  .first-page .back-text h1,
  .second-page .back-text h1,
  .third-page .back-text h1,
  .forth-page .back-text h1,
  .fifth-page .back-text h1 {
    font-size: 100pt;
  }
}
/* back text of pages */
/* page one*/
.first-page .container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}
.first-page .container .container-text{
    text-transform: capitalize;
    font-family: "Bona Nova", serif;
    color: var(--clr-text);
    background: none;
    transform: translateY(200%);
}
.first-page .container .container-text.show{
  transform: translateY(0%);
}
.first-page .container .container-text h1{
    font-size: 2.25rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 15px;
    background: none;
    transition: all .5s ease;
}
.first-page .container .container-text h1 span{
  font-size: 2.5rem;
  font-weight: bolder;
}
.first-page .container .container-text h3{
  font-size: 1.75rem;
  margin-bottom: 13px;
  background: none;
}
.first-page .container .container-text h5{
  font-size: 1.25rem;
  margin-bottom: 10px;
  background: none;
}
.first-page .container .container-text p{
  font-size: 1.125rem;
  background: none;
}

.first-page .container .img-field{
    position: relative;
    background: none;
    width: 30%;
    height: auto;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 8px;
}
.first-page .container .img-field .react{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 50%;
} 

.first-page .container .img-field .angular{
  position: absolute;
  top: 25%;
  right: 0;
  width: 70px;
  height: 70px;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 50%;
} 
.first-page .container .img-field .android{
  position: absolute;
  top: 50%;
  right: 0;
  width: 70px;
  height: 70px;
  background: #f7f7f7;
  padding:  10px;
  border-radius: 50%;
} 
.react img,
.angular img,
.android img{
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}
.first-page .container .img-field .avatar{
  position: relative;
  margin-top: -20px;
  background: none;
  width: 100%;
  height: 100%;
}
@media screen and ( max-width : 960px ) {
  .first-page .container{
    flex-direction: column;
  }
  .first-page .container .img-field{
    width: 50%;
  }
}
/* page one*/


/*page service*/
.forth-page .container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-bg);
  padding: 2em 2em;
  z-index: 2;
  box-shadow: 0 0 .5em var(--clr-text);
}
.forth-page .container .container-content{
  background: var(--clr-bg);
  width: 100%;
  height: 100%;
}
.forth-page .container .container-content .tabs{
  height: 60px;
  width: 100%;
  background: darkgray;
  border-radius: 10px;
}
.forth-page .container .container-content .tabs ul{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: darkgray;
}
.forth-page .container .container-content .tabs ul li{
  width: 100%;
  height: 100%;
  list-style: none;
  color: var(--clr-text);
  background: darkgray;
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  line-height: 3;
}
.forth-page .container .container-content .tabs ul li:hover{
  cursor: pointer;
  background: var(--clr-text);
  color:var(--clr-bg);
}
.forth-page .container .container-content .tabs ul li.active{
  background: var(--clr-text);
  color:var(--clr-bg);
}
.forth-page .container .container-content 
.skills{
  padding: 1em 1.5em;
  width: 100%;
  height: 90%;
}
.forth-page .container .container-content 
.skills .tabs-content{
  display: none;
}
.forth-page .container .container-content 
.skills #programming{
  display: block;
  width: 100%;
  height: 100%;
}
.forth-page .container .container-content 
.skills .tabs-content ul{
  width: 100%;
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}
.forth-page .container .container-content 
.skills .tabs-content ul li{
  width: 170px;
  height: 170px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.forth-page .container .container-content 
.skills .tabs-content ul li img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 .5rem #333533;
  background: white;
}

/*page service*/